{% if session.username %}
<p>Olet kirjautunut nimellä: {{ session.username }}</p>
Ravintoloiden määrä: {{ count }}
<hr>
{% for restaurant in restaurants %}
{{ restaurant.name }} <br>
<a href="/review/{{ restaurant.id }}">Jätä arvostelu</a> |
<a href="/view/{{ restaurant.id }}">Katso arvostelut</a>
<hr>
{% endfor %}
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
Tai: <a href="/signup">Luo tili</a>
{% endif %}