{% extends "layout.html" %}
{% block content %}
<div class="container">
{% if session.username %}
<p>Olet kirjautunut käyttäjänimellä: "{{ session.username }}"</p>
Ravintoloiden määrä sovelluksessa: {{ count }}
<hr>
{% if admin_status() %}
    <a href="/new_group">Luo uusi ryhmä</a> |
    <a href="/new_restaurant">Lisää uusi ravintola</a>
    <hr>
{% endif %}
<a href="/groups">Katso ryhmät</a>
<hr>
Ravintolat:
<hr>
{% for restaurant in restaurants %}
    {{ restaurant.name }} <br>
    <a href="/review/{{ restaurant.id }}">Jätä arvostelu</a> |
    <a href="/view/{{ restaurant.id }}">Katso arvostelut</a> <br>
    {% if admin_status() %}
    <form action="/remove_restaurant" method="POST">
        <input type="hidden" name="id" value="{{ restaurant.id }}" />
        <input type="submit" value="Poista ravintola">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    <hr>
{% endfor %}
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<div class="col-6"><h1>Kirjaudu sisään ravintolasovellukseen</h1></div>
<form action="/login" method="POST">
    <div class="form-group col-6">
        <label for="username">Tunnus</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
    <div class="form-group col-6">
        <label for="password">Salasana</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group col-6">
        <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </div>
</form>
<div class="col-6">
    Tai: <a href="/signup">Luo tili</a>
</div>
{% endif %}
</div>
{% endblock %} 